.about {
    grid-template-columns: repeat(22, 1fr);
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
    z-index: -1;
}

.about-img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-top: 120px;
}

/* #about{
    border: 1px solid greenyellow;
} */
.about-text h2 {
    font-size: 60px;
    color: white;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
@media only screen and (max-width: 480px) {
    .about{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    .about-img{
        margin-top: -40px;
    }
    .about-text{
        margin-top: 50px;
    }
}