.banner{
    /* position: relative; */
    width: 100%;
    justify-content: space-around;
    /* height: 100vh; */
    background: #051129;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    /* padding: 70px 10% 0; */   
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: -1;
    
}
img{
    width: 290px;
    height: 340px;
    border-radius: 10%;
}
.home-content {
    max-width: 600px;
    color: white;
    
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-sci i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci i:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@media only screen and (max-width: 480px) {
    
    .banner{
        padding-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .home-content{
        padding-top: 20px;
        text-align: center;
    }
}